<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\driver_api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
        </system.webServer>
    </location>
    <system.webServer>
        <rewrite>
            <rules>

                <!-- 1) Remove trailing slash -->
                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="^(.*)/$" />
                    <conditions>
                        <add input="{APPL_PHYSICAL_PATH}{R:1}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>

                <!-- 2) Rewrite to .html if file exists -->
                <rule name="Rewrite any URL to .html if file exists" stopProcessing="true">
                    <match url="^(.+?)$" />

                    <conditions>
                        <add input="{URL}" pattern="\.[a-z0-9]+$" negate="true" />
                        <add input="{APPL_PHYSICAL_PATH}{R:1}.html" matchType="IsFile" />
                    </conditions>

                    <action type="Rewrite" url="{R:1}.html" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
