@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #003cff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    }
} */

[data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
}

[data-theme="dark"] select option{
    background: var(--color-background);
    color: var(--color-foreground);
}
[data-theme="dark"] aside {
    @apply w-48 h-[calc(100vh)] fixed top-16.5 left-0 p-4 border-r bg-black text-white;
}
[data-theme="dark"] .nav{
    @apply fixed w-full bg-black text-white;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    @apply pl-52 pt-24 p-4
}

main.sidebar-hidden {
    @apply pl-4;
}

aside {
    @apply w-48 h-[calc(100vh)] fixed top-16.5 left-0 p-4 border-r bg-indigo-900 text-white;
}


.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav{
    @apply fixed w-full bg-indigo-900 text-white;
}

.nav-header{
    @apply ml-4 flex flex-row items-center justify-between w-full ;
}

.nav-link {
    @apply flex justify-center items-center p-4 rounded font-semibold hover:text-sky-900 hover:bg-gray-100;
}

.thReport1stRow {
    @apply border border-gray-400 text-center p-2 rounded-s-lg;
}

.thReport2ndRow {
    @apply border-r border-gray-400 text-center p-2 rounded-s-lg;
}

.thReport3rdRow{
    @apply border-b border-r border-gray-400 text-center p-2 rounded-s-lg;
}

.tdReport {
    @apply border border-gray-400 text-center p-2 rounded-s-lg;
}